<a href="https://colab.research.google.com/github/MohdRazidi/Car-Maintenance/blob/main/Car_Maintenance.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
url = "https://raw.githubusercontent.com/MohdRazidi/Car-Maintenance/refs/heads/main/Car%20Service%20Maintenance%20.csv"
df = pd.read_csv(url)

In [3]:
df.head()

,maker,model,variant,region,1000KM,5000KM,10000KM,20000KM,30000KM,40000KM,50000KM,60000KM,70000KM,80000KM,90000KM,100000KM
0,Perodua,Ativa,NaN,Peninsular,NaN,NaN,933.16,304.88,240.06,426.12,240.06,304.88,240.06,426.12,240.06,933.16
1,Perodua,Ativa,NaN,EM,NaN,NaN,980.26,314.98,248.16,440.72,248.16,314.98,248.16,440.72,248.16,980.26
2,Perodua,New Alza,CVT (1500cc),Peninsular,NaN,NaN,184.70,322.96,251.66,428.00,251.66,322.96,251.66,428.00,251.66,749.42
3,Perodua,New Alza,CVT (1500cc),EM,NaN,NaN,193.00,333.26,259.96,442.80,259.96,333.26,259.96,442.80,259.96,784.52
4,Perodua,Axia,NaN,Peninsular,NaN,NaN,156.80,285.26,251.20,579.34,215.12,320.26,215.12,579.34,251.20,285.26

In [4]:
print("Dataset shape:", df.shape)

Dataset shape: (128, 16)

In [5]:
df.isnull().sum()

maker         0
model         0
variant      15
region        0
1000KM       71
5000KM      119
10000KM       7
20000KM       7
30000KM       7
40000KM       7
50000KM       7
60000KM       0
70000KM       7
80000KM       7
90000KM       7
100000KM      7
dtype: int64

In [6]:
print("\nMissing values per column:\n", df.isnull().sum())

Missing values per column:
 maker         0
model         0
variant      15
region        0
1000KM       71
5000KM      119
10000KM       7
20000KM       7
30000KM       7
40000KM       7
50000KM       7
60000KM       0
70000KM       7
80000KM       7
90000KM       7
100000KM      7
dtype: int64